<div class="crearUsuario">
  <div class="container">
    <mat-toolbar>
      <span>{{ textPantalla }}</span>
    </mat-toolbar>
  </div>
  <div class="contenido">
    <mat-card>
      <form [formGroup]="form">
        <br />
        <div class="info">
          <div class="info-content">
            <div class="content">
              <!--
              <div class="signin-datos">
                <span *ngIf="!isInsertar">
                  <mat-form-field>
                    <mat-label>Codigo</mat-label>
                    <input
                      matInput
                      #input
                      maxlength="100"
                      placeholder="259898959"
                      autocomplete="off"
                      formControlName="_id"
                    />
                  </mat-form-field>
                  <br />
                </span>
              </div>
              -->
              <div class="signin-datos">
                <mat-form-field>
                  <mat-label>Tipo de usuario</mat-label>
                  <input
                    matInput
                    #input
                    maxlength="100"
                    placeholder="Admin"
                    autocomplete="off"
                    formControlName="tipoUsuario"
                  />
                </mat-form-field>
              </div>

              <div class="signin-datos">
                <mat-form-field>
                  <mat-label>Nombre</mat-label>
                  <input
                    matInput
                    #input
                    maxlength="100"
                    placeholder="Celin"
                    autocomplete="off"
                    formControlName="nombre"
                  />
                </mat-form-field>
              </div>

              <div class="signin-datos">
                <mat-form-field>
                  <mat-label>Apellidos</mat-label>
                  <input
                    matInput
                    #input
                    maxlength="200"
                    placeholder="Alfaro"
                    autocomplete="off"
                    formControlName="apellido"
                  />
                </mat-form-field>
              </div>

              <div class="signin-datos">
                <mat-form-field>
                  <mat-label>Correo electrónico</mat-label>
                  <input
                    matInput
                    #input
                    maxlength="100"
                    placeholder="Admin"
                    autocomplete="off"
                    formControlName="email"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="content">
              <div class="signin-datos">
                <mat-form-field>
                  <mat-label>Contraseña</mat-label>
                  <input
                    matInput
                    #input
                    autocomplete="off"
                    formControlName="email"
                    matInput
                    [type]="hide ? 'password' : 'text'"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Esconder contraseña'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="signin-datos">
                <mat-form-field>
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input
                    matInput
                    #input
                    maxlength="100"
                    placeholder="Admin"
                    autocomplete="off"
                    formControlName="fecNacimiento"
                  />
                </mat-form-field>
              </div>

              <div class="signin-datos">
                <mat-form-field>
                  <mat-label>Edad</mat-label>
                  <input
                    matInput
                    #input
                    maxlength="100"
                    placeholder="Admin"
                    autocomplete="off"
                    formControlName="edad"
                  />
                </mat-form-field>
              </div>

              <div class="signin-datos">
                <mat-form-field>
                  <mat-label>Teléfono</mat-label>
                  <input
                    matInput
                    #input
                    maxlength="100"
                    placeholder="Admin"
                    autocomplete="off"
                    formControlName="telefono"
                  />
                </mat-form-field>
              </div>

              <div class="signin-datos">
                <mat-form-field>
                  <mat-label>Dirección</mat-label>
                  <input
                    matInput
                    #input
                    maxlength="100"
                    placeholder="Admin"
                    autocomplete="off"
                    formControlName="direccion"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <button
          mat-raised-button
          color="accent"
          routerLink="/mantenimientoUsuario"
          routerLinkActive="router-link-active"
        >
          Regresar
        </button>
        <span *ngIf="isInsertar">
          <button
            style="margin-left: 20px"
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="form.invalid"
            (click)="saveUsuario()"
          >
            Guardar usuario
          </button>
        </span>
        <span *ngIf="!isInsertar">
          <button
            style="margin-left: 20px"
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="form.invalid"
            (click)="modificarUsuario()"
          >
            Modificar usuario
          </button>
        </span>
      </form>
    </mat-card>
  </div>
</div>
