
*{
  font-family: "Arial", "Helvetica,", Calibri, "Trebuchet MS", sans-serif;
}

span{
  font-weight: bolder;
}

.crearAvion {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;
  padding-bottom: 8%;
}

.contenido {
  text-align: center;
}

button {
  margin-top: 40px;
}
