<div class="crearTiquete">
  <div class="container">
    <mat-toolbar>
      <span>{{ textPantalla }}</span>
    </mat-toolbar>
  </div>
  <div class="contenido">
    <mat-card style="margin-top: 10px" style="text-align: center">
      <form [formGroup]="form">
        <br />
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <input
            matInput
            #input
            maxlength="200"
            placeholder="CopeAirline"
            autocomplete="off"
            formControlName="marca"
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Tipo de vuelo</mat-label>
          <input
            matInput
            #input
            maxlength="200"
            placeholder="1256"
            autocomplete="off"
            formControlName="ID_TipoAvion"
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Número de vuelo</mat-label>
          <input
            matInput
            #input
            maxlength="200"
            placeholder="1256"
            autocomplete="off"
            formControlName="numeroVuelo"
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Fecha de ida</mat-label>
          <input
            matInput
            #input
            maxlength="10"
            placeholder="12/20/2000"
            autocomplete="off"
            formControlName="fechaIda"
            type="date"
          />
        </mat-form-field>

        <br />
        <mat-form-field>
          <mat-label>Destino</mat-label>
          <input
            matInput
            #input
            maxlength="100"
            placeholder="New York"
            autocomplete="off"
            formControlName="ID_Ruta"
          />
        </mat-form-field>

        <br /><br />
        <button
          mat-raised-button
          color="accent"
          routerLink="/mantenimientoTiquete"
          routerLinkActive="router-link-active"
        >
          Regresar
        </button>
        <span *ngIf="isInsertar">
          <button
            style="margin-left: 20px"
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="form.invalid"
            (click)="saveVuelo()"
          >
            Guardar vuelo
          </button>
        </span>
        <span *ngIf="!isInsertar">
          <button
            style="margin-left: 20px"
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="form.invalid"
            (click)="modificarVuelo()"
          >
            Modificar vuelo
          </button>
        </span>
      </form>
    </mat-card>
  </div>
</div>