
<div class="footer">
    <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
            Contáctenos
            500 mts suroeste del parque central, 75mts Oeste de la POPS. Alajuela
            Correo electrónico: dreamout@gmail.com
            Teléfono/Whatsapp: 81234567
        </mat-grid-tile>
        <mat-grid-tile>
            Información
            Universidad Técnica Nacional
            Alumnas: Adriana Lee Pan
            Esteban Rivera Porras
            III Cuatrimestre
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="footer-bottom">
    <a>@2021 Copyright - Diseño realizado por estudiantes de la UTN</a>
    <div class="spacer"></div>
    <a> <mat-icon>whatsapp</mat-icon> </a>
    <a> <mat-icon>facebook</mat-icon> </a>
    <a> <mat-icon>phone</mat-icon> </a>
</div> 
