<footer>
    <div class="contenedor-footer">
        <div class="texto_info">

            <div class="content-fu">
                <h3>Contáctenos</h3>
                <p>Dirección: 500 mts suroeste del parque central, 75mts Oeste de la POPS. Alajuela</p>
                <p>Correo electrónico: dreamout@gmail.com</p>
                <p>Teléfono/Whatsapp: 81234567</p>
            </div>

            <div class="content-fu">
                <h3>Síguenos en redes</h3>
                <div class=icons>
                    <a><mat-icon>whatsapp</mat-icon></a>
                    <a><mat-icon>facebook</mat-icon></a>
                    <a><mat-icon>phone</mat-icon></a>
                </div>
            </div>

            <div class="content-fu">
                <h3>Información</h3>
                <p>Universidad Técnica Nacional</p>
                <p>Sede Central</p>
                <P>Profesor: Cristhian Garita Fonseca</P>
                <p>Curso: Evaluación de proyectos</p>
                <p>III Cuatrimestre</p>
            
            </div>

        </div>
    </div>

    <div class="titulo-final">&copy;Adriana Lee Pan y Esteban Rivera Porras | Todos los derechos reservados</div>

</footer>