a {
  font-family: "Arial", "Helvetica,", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 17px;
}

 a:hover {
  color: #01c9b0;
  font-weight: bolder;

}

.spacer {
  flex: 1 1 auto;
}

.logo {
  width: 160px;
  height: 50px;
}

button{
  font-family: "Arial", "Helvetica,", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}

button:hover{
  font-weight: bolder;
}