
<dreamOut-carousel-slider></dreamOut-carousel-slider>

<div class="ofertasEspeciales">
    <div class="ofertas">
        <div class="content">
            <img class="ofertas-img" src="assets/img/ofertasEspeciales1.jpeg" alt="...">
            <p>Compra tu tiquete rápido y seguro</p>
        </div>

        <div class="content">
            <img class="ofertas-img" src="assets/img/ofertasEspeciales2.jpg" alt="...">
            <p>¡Ofertas únicas!</p>
        </div>

        <div class="content">
            <img class="ofertas-img" src="assets/img/ofertasEspeciales3.jpeg" alt="...">
            <p>¡Muchos destinos por descubrir!</p>
        </div>
    </div>
</div>

<div class="historia">
    <div class="content-historia">
        <h1>Historia</h1>
        <p>¡Bienvenidos a DreamOut! Cumpliremos todos tus sueños, podes acceder a ella con un solo click.
            Empazamos con un servicio familiar y amigos, gracias al esfuerzo de muchas personas ahora somo una
            empresa trasnacional. Conozcanos más
        </p>

        <div class="buttom-historia">
            <a mat-raised-button href="/historia" color="accent">Historia</a>
        </div>
    </div>
</div>

<div class="equipo">
    <div class="equipoTrabajo">
        <div class="content">
            <mat-card class="cards">

                <mat-card-header>
                    <div mat-card-avatar class="header-image1"></div>
                    <mat-card-title>Adriana Lee Pan</mat-card-title>
                    <mat-card-subtitle>Estudiante</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image src="assets/img/Adriana.jpeg" alt="...">

                <mat-card-content>
                    <p>Estudiante de la Universidad Técnica Nacional con un grado académico bachillerato</p>
                    <p>Número celular: 85824554</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="content">
            <mat-card class="cards">

                <mat-card-header>
                    <div mat-card-avatar class="header-image2"></div>
                    <mat-card-title>Esteban Rivera Porras</mat-card-title>
                    <mat-card-subtitle>Estudiante</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image src="assets/img/Esteban.jpg" alt="...">

                <mat-card-content>
                    <p>Estudiante de la Universidad Técnica Nacional con un grado académico bachillerato</p>
                    <p>Número celular: 88412525</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
    
<a class="buttom-equipo" mat-raised-button href="/acercaDe" color="accent">Información</a>