<div class="contactenos">
  <div class="titulo">
    <p>Contáctenos</p>
  </div>

  <div class="contenido">
    <div class="contenido-texto">
      <div class="texto1">
        <p>
          ¡Nosotros somos DreamOut! Cumplimos tus sueños de visitar otros paises
          y tener experiencias únicas. Ofrecemos un servicio ágil, de calidad y
          seguro para ti, tu familia o amigos. Con tan solo un par de clics,
          podrá experimentar del viaje que siempre han soñado y a un precio de
          oferta. Viajar en avión nunca había sido tan sencillo. No importa si
          no tiene experiencia, nuestro personal lo asesorará en todo lo que
          necesita.
        </p>
        <br /><br />
        <p>
          Dirección: 500 mts suroeste del parque central, 75mts Oeste de la
          POPS. Alajuela
        </p>
        <br />
        <p>Correo electrónico: dreamout@gmail.com</p>
        <br />
        <p>Teléfono: 81234567</p>
        <br />
        <p>Facebook: DreamOut</p>
      </div>
    </div>

    <div class="contenido-texto">
      <div class="texto2">
        <p>Llámanos al: 81234567</p>
        <img src="assets/img/trato.jpeg" alt="..." />
        <div class="texto2">
            <br/>
          <p>Whatsapp: 8696-5896</p>
        </div>
      </div>
    </div>
  </div>
</div>
