
<div>
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput 
          [(ngModel)]="user.email" 
          placeholder="pat@example.com" 
          [formControl]="email" 
          required >
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

    <br/>
    <p>Email</p>
    <input [(ngModel)]="user.email">
    <br/>
    <p>Nombre</p>
    <input [(ngModel)]="user.nombre">
    <br/>
    <p>apellido</p>
    <input [(ngModel)]="user.apellido">
    <br/>
    <p>fecNacimient</p>
    <input [(ngModel)]="user.fecNacimient" type="date">
    <br/>
    <p>edad</p>
    <input [(ngModel)]="user.edad" type="number">
    <br/>
    <p>direccion</p>
    <input [(ngModel)]="user.direccion">
    <br/>
    <p>telefono</p>
    <input [(ngModel)]="user.telefono">
    <br/>
    <p>password</p>
    <input [(ngModel)]="user.password"/>
    <button (click)="saveUser()" class="btn btn-success">Submit</button>
    <br/>

</div>