.signin {
  padding-bottom: 120px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.card-signin {
  max-width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 1px 18px 27px 4px rgba(31, 31, 31, 0.68);
  -moz-box-shadow: 1px 18px 27px 4px rgba(31, 31, 31, 0.68);
  box-shadow: 1px 18px 27px 4px rgba(122, 122, 122, 0.68);
}

.signin-datos .mat-form-field {
  width: 350px;
}

.buttom {
  margin-right: 20px;
  width: 8%;
}

.titulo {
  font-size: 25px;
  padding-top: 10px;
}

.subtitulo {
  font-size: 18px;
  padding-top: 10px;
}

/*Columnas*/
.info {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 40px;
}

.info-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
