<div class="contenido">
  <div class="carta">
    <div class="carta-contenido">
      <div class="content1">
        <img class="carta-img" src="assets/img/Adriana.jpeg" alt="..." />
      </div>

      <div class="border"></div>

      <div class="content2">
        <h1>Adriana Lee Pan</h1>
        <p>
          Estudiante de la Universidad Técnica Nacional con un grado académico
          bachillerato
        </p>
        <p>Cedula: 117980953</p>
        <p>Nacionalidad: Costarricense</p>
        <p>Número celular: 85824554</p>
        <p>Correo electrónico: alee@est.utn.ac.cr</p>
        <p>Idiomas: Español, inglés, mandarin y taiwánes</p>
      </div>
    </div>
  </div>
</div>

<div class="contenido">
  <div class="carta">
    <div class="carta-contenido">
      <div class="content1">
        <img class="carta-img" src="assets/img/Esteban.jpg" alt="..." />
      </div>

      <div class="border"></div>

      <div class="content2">
        <h1>Esteban Rivera Porras</h1>
        <p>
          Estudiante de la Universidad Técnica Nacional con un grado académico
          bachillerato
        </p>
        <p>Cedula: 123456789</p>
        <p>Nacionalidad: Costarricense</p>
        <p>Número celular: 88412525</p>
        <p>Correo electrónico: correo</p>
        <p>Idiomas: Español, inglés</p>
      </div>
    </div>
  </div>
</div>
