<div class="tiquete">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Ofertas">
      <mat-list>

        <div class="contenido">
          <div class="contenido-texto">
            <div class="content1">
              <img class="img" src="assets/img/tiquete.jpg" />
            </div>
            <div class="content2">
              <h2>DreamOut</h2>
              <p>Avión: AV-215</p>
              <p>Vuelo: #235687</p>
              <p>Clase: Primera clase</p>
            </div>
            <div class="content2">
                <h2>Avianca</h2>
                <p>Destino: New York</p>
                <p>Fecha: 05/04/2021</p>
                <p>Hora de viaje: 6:00 p.m</p>
              </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="contenido">
          <div class="contenido-texto">
            <div class="content1">
              <img class="img" src="assets/img/tiquete2.jpg" />
            </div>
            <div class="content2">
              <h2>DreamOut</h2>
              <p>Avión: AV-859</p>
              <p>Vuelo: #869547</p>
              <p>Clase: Segunda clase</p>
            </div>
            <div class="content2">
                <h2>Copa Airlines</h2>
                <p>Destino: France</p>
                <p>Fecha: 20/12/2021</p>
                <p>Hora de viaje: 8:00 a.m</p>
              </div>
          </div>
        </div>
        <mat-divider></mat-divider>

        <div class="contenido">
          <div class="contenido-texto">
            <div class="content1">
              <img class="img" src="assets/img/tiquete3.jpg" />
            </div>
            <div class="content2">
              <h2>DreamOut</h2>
              <p>Avión: AV-2369</p>
              <p>Vuelo: #4532105</p>
              <p>Clase: Tecera clase</p>
            </div>
            <div class="content2">
                <h2>United</h2>
                <p>Destino: Costa Rica</p>
                <p>Fecha: 16/08/2021</p>
                <p>Hora de viaje: 9:00 p.m</p>
              </div>
          </div>
        </div>
      </mat-list>
    </mat-tab>

    <mat-tab label="Tiquetes">
      <mat-list>
        <div class="contenido">
            <div class="contenido-texto">
              <div class="content1">
                <img class="img" src="assets/img/tiquete4.jpg" />
              </div>
              <div class="content2">
                <h2>DreamOut</h2>
                <p>Avión: AV-215</p>
                <p>Vuelo: #235687</p>
                <p>Clase: Primera clase</p>
              </div>
              <div class="content2">
                  <h2>Copa Airlines</h2>
                  <p>Destino: India</p>
                  <p>Fecha: 10/02/2021</p>
                  <p>Hora de viaje: 6:00 p.m</p>
                </div>
            </div>
          </div>
  
          <mat-divider></mat-divider>
  
          <div class="contenido">
            <div class="contenido-texto">
              <div class="content1">
                <img class="img" src="assets/img/tiquete5.jpg" />
              </div>
              <div class="content2">
                <h2>DreamOut</h2>
                <p>Avión: AV-859</p>
                <p>Vuelo: #869547</p>
                <p>Clase: Tercera clase</p>
              </div>
              <div class="content2">
                  <h2>Avianca</h2>
                  <p>Destino: China</p>
                  <p>Fecha: 14/08/2021</p>
                  <p>Hora de viaje: 10:00 a.m</p>
                </div>
            </div>
          </div>
          <mat-divider></mat-divider>
  
          <div class="contenido">
            <div class="contenido-texto">
              <div class="content1">
                <img class="img" src="assets/img/tiquete6.jpg" />
              </div>
              <div class="content2">
                <h2>DreamOut</h2>
                <p>Avión: AV-6541</p>
                <p>Vuelo: #963258</p>
                <p>Clase: Tecera clase</p>
              </div>
              <div class="content2">
                  <h2>AeroMexico</h2>
                  <p>Destino: Panamá</p>
                  <p>Fecha: 30/09/2021</p>
                  <p>Hora de viaje: 4:00 p.m</p>
                </div>
            </div>
          </div>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
