<p>create-vuelo works!</p>
<div>
    <br />
    <p>numeroVuelo</p>
    <input [(ngModel)]="vuelo.numeroVuelo" />
    <br />
    <p>Marca</p>
    <input [(ngModel)]="vuelo.marca" />
    <br />
    <p>ID_TipoAvion</p>
    <input [(ngModel)]="vuelo.ID_TipoAvion" />
    <br />
    <p>ID_Ruta</p>
    <input [(ngModel)]="vuelo.ID_Ruta" />
    <br />
    <p>fechaIda</p>
    <input [(ngModel)]="vuelo.fechaIda" type="date"/>
    <br />
  
    <button (click)="saveAvion()" class="btn btn-success">Submit</button>
  </div>